language: node_js
node_js:
  - "6"
  - "8"
  - "10"
os:
  - linux
  - osx
  - windows

sudo: required
before_install:
  - npm rm --save-dev pre-commit
install:
  - npm install
  - npm install -g codecov
script:
  - npm test
  - npm run cover
  - codecov
